*{
  margin:0;
  padding:0;
}
.hello {
  background-image: url('./mountains-1412683_1920.png');
  background-size:cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: -10;
  position: absolute;
}

.lead{
  margin-left:40%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 20px;
  position:absolute;
  color:rgb(255, 255, 255);
  background-color: transparent;
  border-color: transparent;
  font-size: 40px;
  font-weight: 500;
  transition: 0.7s;
}

.lead:hover{
  color: rgb(255, 255, 255);
  text-shadow: 5px 3px 5px rgb(31, 30, 30);
}


.shop{
  background-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-color: transparent;
  font-weight: 640;
  position:absolute;
  margin-left: 20%;
  margin-top: 34px;
  font-size: large;
  cursor: pointer;
  transition: 0.5s;
}

.shop:hover{
  color: white;
  text-shadow: 5px 3px 5px black;
}


.home{
  background-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-color: transparent;
  font-weight: 640;
  position:absolute;
  margin-left: 30%;
  margin-top: 34px;
  font-size: large;
  cursor: pointer;
  transition: 0.5s;
}
.home:hover{
  color: white;
  text-shadow: 5px 3px 5px black;
}

.info{
  background-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-color: transparent;
  font-weight: 640;
  position:absolute;
  margin-left: 65%;
  margin-top: 34px;
  font-size: large;
  cursor: pointer;
  transition: 0.5s;
}
.info:hover{
  color: white;
  text-shadow: 5px 3px 5px black;
}

.family{
  background-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-color: transparent;
  font-weight: 640;
  position:absolute;
  margin-left: 75%;
  margin-top: 34px;
  font-size: large;
  cursor: pointer;
  transition: 0.5s;
}

.family:hover{
  color: white;
  text-shadow: 5px 3px 5px black;
}


.moi{
  margin-top: 32%;
  margin-left:70%;
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:white;
}

.no{
  margin-top: 31.7%;
  margin-left:85%;
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:white;
  background-color: transparent;
  border-color: white;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  border-style: solid;
  transition: 0.4s;
  filter:blur(0.3px);
  border-width: 1px;
}

.no:hover{
  color: white;
  box-shadow: 5px 3px 5px black;
  filter:blur(0.7px)
}

.hr{
  height: 2px; 
  width:85%;
  background-color: white;
  margin-top:5.4%;
  position: absolute;
  border-color:white;
  border-radius: 20px;
  border-style: solid;
  opacity: 0.8;
  margin-left: 5%;
}